body {
    font-family: "Nanum Gothic", sans-serif;
    margin: 8px;
}

#product-overview {
    background : #ff1b68;   /* 배경색 */    
    padding: 20px;          /* 안쪽 여백 */
    /* border: 5px;            
    border-color: black;  
    border-style: solid;*/
    border: 5px solid black; /* 테두리 : 두께, 단선, 검은색 */
    margin: 20px;           /* 바깥 여백 */
    
}

.section-title {
    color: #2ddf5c;          /* 글자색 */       
}

#product-overview h1 {
    color: white;          /* 글자색 */
    font-family: 'Nanum Pen Script', sans-serif;  /* 글꼴 */
    font-size: 2em;           /* 글자 크기 */
}

h1 {
    font-family: sans-serif;
}
