/***************************************/
/* 전체적인 부분                       */
/***************************************/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/* 스크롤바 숨기기 */
body::-webkit-scrollbar {
    width: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;    /* 너비 - 전체 뷰포트에 대한 비율 */
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

/***************************************/
/* 헤더 부분                           */
/***************************************/
.main-header {
    width: 100%;    /* 너비 - 전체 뷰포트에 대한 비율 */
    position: fixed;
    top: 0;
    left: 0;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    z-index: 1;    /* z-index를 1로 사용하여 헤더를 앞으로 보냄 */
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

/***************************************/
/* 토글 버튼                           */
/***************************************/
.toggle-button {
    width: 3rem;
    background: transparent;    /* 배경색 */
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;     /* 밑줄 없애기 */
    font-weight: bold;
    font-size: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    height: 100%;    /*margin-top: -5px; */
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active, 
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    color: #ff1b68;
    background: white;
    border: none;
}

/***************************************/
/* 푸터 부분                           */
/***************************************/
.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

/***************************************/
/* 사이드 네비게이션                   */
/***************************************/
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

/***************************************/
/* 버튼                                */
/***************************************/
.button {
    background: #0e4f1f;    /* 배경색 */
    color: white;    /* 글자색 */
    font: inherit;    /* 폰트 상속 */
    border: 1.5px solid #0e4f1f;    /* 테두리 */
    padding: 0.5rem;    /* 안쪽 여백 */
    border-radius: 8px;    /* 테두리 모서리 둥글게 */
    font-weight: bold;    /* 글자 굵게 */
    cursor: pointer;    /* 커서 모양 */
}

/* 버튼 호버, 액티브에서는 반전을 통해 선택 여부 보여줌 */
.button:hover,
.button:active {
    background: white;    /* 배경색 */
    color: #0e4f1f;    /* 글자색 */
}

.button:focus {
    outline: none;    /* 포커스 테두리 없애기 */
}

.open {
    display: block !important;
}